@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    line-height: 28px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.countdown-wrapper{
  /* background: linear-gradient(to right, #548c20, #67ab27); */

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
ul.countdown {
  width: 100%;
  list-style: none;
  padding: 0;
  display: block;
  text-align: center;
  margin-bottom: 0;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul.countdown li {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 90px;
  height: 90px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 8px;
  margin: 0px 8px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul.countdown li span {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  color: white;
}
ul.countdown li.seperator {
  font-size: 80px;
  line-height: 70px;
  vertical-align: top;
}
ul.countdown li p {
  color: white;
  font-size: 1rem;
  margin-bottom: 0px;
}
.col-3 {flex: 0 0 10%}

@media (max-width: 600px) {
  .col-3 {flex: 0 0 40%}
}

body{
  background-color:#fff;
  background: url('./bg.jpeg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}